{% extends 'base.html.twig' %}

{% block body %}

    <div class="card-deck p-t-1">
        {% for project in projects %}

            <div class="card">
                <a href="{{ path('project_show', { 'id': project.id }) }}">
                    <div class="card-block">
                        <h4 class="card-title">{{ project.name }}</h4>
                        <p class="card-text">{{ project.description }}</p>
                        {#<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>
{% endblock %}
